# Enable builds on all branches
trigger:
  # Build every commit as our release process relies on
  # the release process being built alone.
  batch: false
  branches:
    include:
      - master

# Enable PR triggers that target the master branch
pr:
  autoCancel: true # cancel previous builds on push
  branches:
    include:
      - master

jobs:
  - job: build_and_test
    timeoutInMinutes: 120
    pool:
      vmImage: "Ubuntu-16.04"
    steps:
      - checkout: self

      # Build and test TypeScript
      - bash: |
          set -euo pipefail

          yarn --version
          yarn install
          yarn workspaces run build
          yarn workspaces run lint
          CI=yes yarn workspaces run test --ci --all
        displayName: build-and-test-ts

      # Install DAML SDK, possibly from cache
      - bash: |
          set -euo pipefail
          cp SDK_VERSION /tmp/SDK_VERSION
      - task: CacheBeta@1
        inputs:
          key: /tmp/SDK_VERSION
          path: /tmp/daml
          cacheHitVar: DAML_CACHE_HIT
      - bash: |
          set -euo pipefail
          DIR=$(pwd)

          # Install DAML SDK
          SDK_VERSION=$(cat SDK_VERSION)
          curl https://get.daml.com | sh -s $SDK_VERSION

          mkdir -p /tmp/daml
          cd $HOME/.daml
          tar czf /tmp/daml/sdk.tar.gz *
        condition: ne(variables.DAML_CACHE_HIT, 'true')
        displayName: daml-cache-miss
      - bash: |
          set -euo pipefail
          mkdir -p $HOME/.daml
          cd $HOME/.daml
          tar xzf /tmp/daml/sdk.tar.gz
        condition: eq(variables.DAML_CACHE_HIT, 'true')
        displayName: daml-cache-hit

      # Deploy
      - bash: |
          set -euo pipefail

          get_tag () {
              TZ=UTC git log -n1 --date=format-local:%Y%m%d%H%M --format=format:%cd-%h --abbrev=6 -- $@
          }
          tag_exists () {
              gcloud container images list-tags gcr.io/da-dev-pinacolada/$1 | grep -q $2
          }
          tell_slack () {
              local MESSAGE=$(git log --pretty=format:%s -n1)
              curl -XPOST \
                   -i \
                   -H 'Content-type: application/json' \
                   --data "{\"text\":\"<https://dev.azure.com/digitalasset/davl/_build/results?buildId=$(Build.BuildId)|$MESSAGE>: uploaded $1\n\"}" \
                   $(Slack.URL)
          }

          GCS_KEY=$(mktemp)
          cleanup () {
              rm -f $GCS_KEY
          }
          trap cleanup EXIT
          echo "$GOOGLE_APPLICATION_CREDENTIALS_CONTENT" > $GCS_KEY
          gcloud auth activate-service-account --key-file=$GCS_KEY
          gcloud auth configure-docker --quiet
          SDK_VERSION=$(cat SDK_VERSION)

          SANDBOX_TAG=$(get_tag released SDK_VERSION infra/sandbox.docker)
          if tag_exists sandbox $SANDBOX_TAG; then
              echo "sandbox $SANDBOX_TAG already exists."
          else
              echo "Building sandbox image version $SANDBOX_TAG..."
              SANDBOX_IMAGE=gcr.io/da-dev-pinacolada/sandbox:$SANDBOX_TAG
              DOCKER_DIR=$(mktemp -d)
              cp -r released $DOCKER_DIR/released
              cp -r $HOME/.daml/sdk/$SDK_VERSION/daml-sdk $DOCKER_DIR/daml-sdk
              docker build -t $SANDBOX_IMAGE -f infra/sandbox.docker $DOCKER_DIR
              docker push $SANDBOX_IMAGE
              echo "Done building $SANDBOX_IMAGE."
              tell_slack sandbox:$SANDBOX_TAG
          fi

          JSON_API_TAG=$(get_tag SDK_VERSION infra/json-api.docker)
          if tag_exists json-api $JSON_API_TAG; then
              echo "json-api $JSON_API_TAG already exists."
          else
              echo "Building json-api image version $JSON_API_TAG..."
              JSON_API_IMAGE=gcr.io/da-dev-pinacolada/json-api:$JSON_API_TAG
              DOCKER_DIR=$(mktemp -d)
              cp -r $HOME/.daml/sdk/$SDK_VERSION/daml-sdk $DOCKER_DIR/daml-sdk
              docker build -t $JSON_API_IMAGE -f infra/json-api.docker $DOCKER_DIR
              docker push $JSON_API_IMAGE
              echo "Done building $JSON_API_IMAGE."
              tell_slack json-api:$JSON_API_TAG
          fi

          UI_TAG=$(get_tag ui infra/nginx.docker infra/nginx.conf.sh)
          if tag_exists ui $UI_TAG; then
              echo "ui $UI_TAG already exists."
          else
              echo "Building ui image version $UI_TAG..."
              UI_IMAGE=gcr.io/da-dev-pinacolada/ui:$UI_TAG
              DOCKER_DIR=$(mktemp -d)
              (cd ui && yarn build)
              cp -r ui/build $DOCKER_DIR/ui
              cp infra/nginx.conf.sh $DOCKER_DIR/nginx.conf.sh
              docker build -t $UI_IMAGE -f infra/nginx.docker $DOCKER_DIR
              docker push $UI_IMAGE
              echo "Done building $UI_IMAGE."
              tell_slack ui:$UI_TAG
          fi
        env:
          GOOGLE_APPLICATION_CREDENTIALS_CONTENT: $(GOOGLE_APPLICATION_CREDENTIALS_CONTENT)
        displayName: create-docker-images
        condition: in(variables['Build.SourceBranch'], 'refs/heads/master', 'master')

      - bash: |
          set -euo pipefail

          tell_slack () {
              local MESSAGE=$(git log --pretty=format:%s -n1)
              curl -XPOST \
                   -i \
                   -H 'Content-type: application/json' \
                   --data "{\"text\":\"<https://dev.azure.com/digitalasset/davl/_build/results?buildId=$(Build.BuildId)|$MESSAGE>:\n$1\n\"}" \
                   $(Slack.URL)
          }

          # Install Terraform, so we pin the version regardless of what Azure
          # provides; fortunately terraform is a single, self-contained
          # executable.
          TF_DIR=$(mktemp -d)
          wget https://releases.hashicorp.com/terraform/0.12.19/terraform_0.12.19_linux_amd64.zip -O $TF_DIR/tf.zip
          ( cd $TF_DIR; unzip tf.zip )
          terraform=$TF_DIR/terraform

          # Deploying new code should be a routine change that CI can
          # automate, but changing the shape of the infrastructure should
          # not. Therefore, CI should only attempt to apply the terraform
          # files when it can verify that:
          # 1. The parent commit applies with no changes, and
          # 2. The only changes to infra in the current commit are in the
          #    versions file.
          previous_commit_reflects_deployment () {
              local current_sha=$(git rev-parse HEAD)
              local previous_sha=$(git rev-parse HEAD~)
              git checkout $previous_sha
              set +e
              # returns 0 if no changes to apply, 1 on error and 2 if changes
              $terraform plan -detailed-exitcode -var-file=deployed-versions.tfvars
              local result=$?
              set -e
              git checkout $current_sha
              return $result
          }

          current_commit_changes_infra () {
              # returns 0 if output is non-empty, i.e. if there is at least one
              # file in the infra folder that changed (besides the
              # deployed-versions one)
              git show --pretty="format:" --name-only -- . | grep -v infra/deployed-versions.tfvars
          }

          current_commit_changes_versions () {
              # returns 0 if output is non-empty, i.e. deployed-versions has
              # changed
              git show --pretty="format:" --name-only -- . | grep infra/deployed-versions.tfvars
          }

          export GOOGLE_APPLICATION_CREDENTIALS=$(mktemp)
          cleanup () {
              rm -f $GOOGLE_APPLICATION_CREDENTIALS
          }
          trap cleanup EXIT
          echo "$GOOGLE_APPLICATION_CREDENTIALS_CONTENT" > $GOOGLE_APPLICATION_CREDENTIALS
          gcloud auth activate-service-account --key-file=$GOOGLE_APPLICATION_CREDENTIALS

          cd infra
          $terraform init

          if previous_commit_reflects_deployment; then
              if current_commit_changes_infra; then
                  tell_slack "<!here> *WARNING*: Latest commit changes infra. Please apply manually."
              else
                  if current_commit_changes_versions; then
                      if $terraform apply -auto-approve -var-file=deployed-versions.tfvars; then
                          tell_slack "started deployment of:\n\`\`\`$(cat deployed-versions.tfvars | jq -Rs . | sed 's/^"//' | sed 's/"$//')\`\`\`"
                      else
                          tell_slack "<!here> *ERROR*: failed to deploy"
                      fi
                  else
                      echo "Nothing to do."
                  fi
              fi
          else
              tell_slack "<!here> *ERROR*: current infra has diverged from master. Manual correction required."
          fi
        env:
          GOOGLE_APPLICATION_CREDENTIALS_CONTENT: $(GOOGLE_APPLICATION_CREDENTIALS_CONTENT)
        displayName: deploy
        condition: in(variables['Build.SourceBranch'], 'refs/heads/master', 'master')

      - bash: |
          set -euo pipefail
          MESSAGE=$(git log --pretty=format:%s -n1)
          curl -XPOST \
               -i \
               -H 'Content-type: application/json' \
               --data "{\"text\":\"<!here> *FAILED* $(Agent.JobName): <https://dev.azure.com/digitalasset/davl/_build/results?buildId=$(Build.BuildId)|$MESSAGE>\n\"}" \
               $(Slack.URL)
        condition: and(failed(), in(variables['Build.SourceBranchName'], 'refs/heads/master', 'master'))
        displayName: tell-slack-if-failed
